{% extends 'layout.html' %}

{% block title %}
Abonos
{% endblock%}

{% block body%}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for abono in abonos%}
            <tr>
                <td>{{abono.4}}</td>
                <td>{{abono.3}}</td>
                <td>{{abono.2}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock%}