{% extends 'layout.html' %}

{% block title %}
Clientes
{% endblock%}

{% block body%}



<div class="row mt-5">
    <div class="col-4 offset-1">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Agregar Cliente</h3>
                <form action="/add_cliente" method="POST">
                    <div class="mb-3">
        
                        <label for="cliente" class="form-label">Nombre Cliente</label>
                        <input type="text" placeholder="Cliente" name="cliente" class="form-control">
                    </div>
                    <div class="mb-3">
        
                        <label for="cliente" class="form-label">Telefono</label>
                        <input type="text" placeholder="Telefono" name="telefono" class="form-control">
                    </div>
                    <div class="mb-3 d-grid">
        
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes%}
                <tr>
                    <td>{{ cliente.1 }}</td>
                    <td>{{ cliente.2 }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}