{% extends 'layout.html' %}

{% block title %}
Compras
{% endblock%}

{%block body%}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre Proveedor</th>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras%}
            <tr>
                <td>{{compra.0}} </td>
                <td>{{compra.1}}</td>
                <td>{{compra.2}}</td>
                <td>{{compra.3}}</td>
                <td>{{compra.4}}</td>
                <td>{{compra.5}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{%endblock%}