{% extends 'layout.html' %}

{% block title %}
Ventas
{% endblock%}

{%block body%}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre Cliente</th>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Costo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas%}
            <tr>
                <td>{{venta.7}}
                    {{venta.8}}
                    {{venta.9}}
                </td>
                <td>{{venta.1}}</td>
                <td>{{venta.2}}</td>
                <td>{{venta.3}}</td>
                <td>{{venta.4}}</td>
                <td>{{venta.5}}</td>
                <td>
                    <a href="/eliminar/{{venta.6}}" class="btn btn-danger" id='confirm'>Eliminar</a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>

</div>

{%endblock%}