{% extends 'layout.html' %}

{% block title %}
Ventas
{% endblock%}

{%block body%}
<div class="container">
    <form action="" method="POST">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="my-3">
                    <label for="nombre" class="form-label">Cliente</label>
                    <select name="id_cliente" class="form-select" onchange="this.form.submit()">
                        <option selected value="0">--Select--</option>
                        {%for cliente in clientes%}
                        <option value="{{cliente.0}}">{{cliente.1}} </option>
                        {%endfor%}
                    </select>  
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre Cliente</th>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Costo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas%}
            <tr>
                <td>{{venta.7}}
                    {{venta.8}}
                    {{venta.9}}
                </td>
                <td>{{venta.1}}</td>
                <td>{{venta.2}}</td>
                <td>{{venta.3}}</td>
                <td>{{venta.4}}</td>
                <td>{{venta.5}}</td>
                <td>
                    <a href="/eliminar/{{venta.6}}" class="btn btn-danger">Eliminar</a>
                    <a href="" class="btn btn-primary">Pago</a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>

</div>

{%endblock%}